* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#blog-app {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

#post-section {
    width: 60%;
    height: 100%;
    background-color: #F0F8FF;
    padding: 60px 40px;
}

h1 {
    font-size: 3rem;
}

label {
    font-size: 1.4rem;
    display: block;
} 

form {
    font-family: "poppins", sans-serif;
    margin-top: 25px;
}

#headline-text {
    line-height: 2rem;
}

#submit {
    border: none;
    outline: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    background-color: black;
    color: white;
}

#submit:hover {
    background-color: #2B2B2B;
}

textarea {
    margin-top: 10px;
}

#headline-section {
    width: 40%;
    height: 100%;
    background-color: #2E5980;
    color: white;
    padding: 60px 40px;
}

#headline-section a {
    color: white;
    font-size: 1.2rem;
    margin-top: 15px;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#headline-section a:hover, #headline-section a:active {
    color: #FEF0DA;
}

#delete-success {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #27344066;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-container {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-family: "poppins", sans-serif;
    padding: 40px 0px;
    gap: 20px;
    align-items: center;
}

#deletePopUp {
    display: none;
}

@media only screen and (max-width: 1440px) {
    #blog-app {
        flex-direction: column;
        height: fit-content;
    }

    #post-section,
    #headline-section {
        width: 100%;
    }
}

@media only screen and (max-width: 840px) {
    textarea {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #headline-text {
        width: 100%;
    }

    #post-section,
    #headline-section {
        padding: 60px 10px;
    }

    h1 {
        font-size: 2.5rem;
    }

    label {
        font-size: 1.2rem;
    } 
}

@media only screen and (max-width: 345px) {
    h1 {
        font-size: 2rem;
    }

    label {
        font-size: 1.2rem;
    } 

    #headline-section a {
        font-size: 1rem;
    }
}